.small_image {
    height: 125px;
    width: 103px;
    object-fit: cover;
}

.big_image {
    height: 356px;
    width: 321px;
    object-fit: cover;
}

.video_gallery {
    width: 100%;
    height: 289px;
}

.l_img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.category_image {
    width: 229px;
    height: 188px;
}
